<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Details</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="share-social"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://via.placeholder.com/400/FFFF00/000000" width="400" alt="profile photo">
    <ion-card-header>
      <ion-card-subtitle>#1</ion-card-subtitle>
      <ion-card-title>Steve Smith</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="call"></ion-icon>
          <ion-label>23443123412</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="mail"></ion-icon>
          <ion-label>a@b.com</ion-label>
        </ion-item>
      </ion-list>

      <ion-button expand="block" color="primary" 
      id="update-modal-trigger" (click)="handleUpdateModalOpen()">Update</ion-button>

      <!-- <ion-modal trigger="update-modal-trigger">
        <ng-template>
          <ion-content>
            <ion-header translucent>
              <ion-toolbar>
                <ion-title>Update Contact</ion-title>
                <ion-buttons slot="end">
                  <ion-button>Close</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
          </ion-content>
        </ng-template>
      </ion-modal> -->


      <ion-button expand="block" color="danger" 
      fill="outline" (click)="handleDeleteContact()" class="ion-margin-top">Delete</ion-button>

     
    </ion-card-content>
  </ion-card>
</ion-content>
