<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-subtitle>Welcome to</ion-card-subtitle>
      <ion-card-title>Contact Manager App!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Let's develop this app in Ionic!
      <br><br>
      <ion-button color="warning">Get Started!</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
